fastapi
uvicorn[standard]

pandas
numpy
scipy

prophet
cmdstanpy
holidays
joblib

scikit-learn
statsmodels

openpyxl
python-multipart

matplotlib
seaborn
plotly

httpx
python-dotenv
pydantic-settings
sqlalchemy
pymysql
streamlit
streamlit-option-menu